*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #f2f2f2;
}

.main-header{
    color: white;
    position: relative;
}

.main-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-color: #07212e;
}

/* nav bar code  */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.nav-content ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.logo-div {
    width: 200px;
    height: 160px;
}

span {
    color: orange;
    font-weight: 700;
}

.logo-img {
    width: 100%;
    height: 100%;

}

.cart-icon-img {
    width: 25px;
    height: 25px;
}

.nav-content-list-item {
    list-style: none;
    padding: 1.5rem;
}

.nav-content-list-item a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* header content code  */
.header-content-div{
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}

.header-content-div h3,.header-content-div h1{
    text-align: center;
    padding: 0.7rem 0;
}

.header-content-div h1{
    font-size: 3rem;
}


/* why us section styling  */
.why-us-section{
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

.why-us-div1{
    width: 50%;
}

.why-us-div2{
    width: 50%;
}

.why-us-div1 .content-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 2rem;
    padding: 2rem 0;
}

.why-us-div1 h1{
    margin: 2rem 0;
    font-size: 3rem;
}

.why-us-div1 .description-div h3{
    padding: 0 1.2rem 1rem 1.2rem;
}
.why-us-div1 .description-div p{
    padding: 0 1.2rem;
    line-height: 1.5rem;
}

.content-div{
    display: flex;
}

.content-items{
    display: flex;
}

.content-items div{
    display: inline-block;
}

.content-items i{
    font-size: 3rem;
    color: orange;
}

.why-us-div2{
    width: 40%;
    background-image: url("https://technext.github.io/fruitkha/assets/img/feature-bg.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.btn{
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: orange;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}


/* our team section styling */
.our-team{
    background-color: #e9e9e9;
    padding: 3rem;
}

.our-team>h1{
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}
.our-team>p{
    text-align: center;
    line-height: 1.5rem;
    padding: 0.5rem;
}
.team-members-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* .team-members-div{
    width: 30%;
} */

.team-members-div{
    margin: 3rem 1rem;
    box-shadow: 0 0 20px #cbc7c7;
    border-radius: 20px;
}

.team-members-img-div img{
    width: 400px;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.team-members-div a{
    text-decoration: none;
    color: white; 
}

.team-members-div i{
    padding: 0.5rem;
    background-color: orange;
    border-radius: 100%;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.fa-brands:hover{
    background-color: black;
}

.team-members-div h3,.team-members-div h5{
    text-align: center;
    padding: 0.5rem;
}
.team-members-div h3{
    font-size: 1.5rem;
}
.team-members-div h5{
    font-size: 1rem;
}

.social-div{
    text-align: center;
    width: 100%;
}

.social-div i{
    margin: 1rem 0.5rem;
}

a:hover{
    color: orange;
}


/* discount-banner-styling-code  */
.discount-banner{
    padding: 8rem;
    background-image: url("https://technext.github.io/fruitkha/assets/img/1.jpg");
    background-position: center;
    background-size: cover;
}
.discount-banner h1{
    font-size: 3rem;
    padding: 1rem 0;
}
.discount-banner h3{
    font-size: 2rem;
    padding: 1rem 0;
}
.discount-banner button{
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    background-color: orange;
    border-radius: 10px;
}

/* responsive style code  */

@media screen and (max-width: 685px){
    nav{
        justify-content: center;
    }
}

@media screen and (max-width: 1600px){
    .why-us-div2{
        display: none;
    }
    .why-us-div1{
        width: 100%;
    }
    .why-us-div1 h1{
        text-align: center;
    }
}

@media screen and (max-width: 666px){
    .why-us-div1 .content-div{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
}

@media screen and (max-width: 574px){
    .discount-banner{
        padding: 2rem;
    }
    .discount-banner h1{
        font-size: 2rem;
    }
    .discount-banner h3{
        font-size: 1rem;
    }
}

@media screen and (max-width: 428px){
    .our-team{
        padding: 3rem 1rem;
    }
    .team-members-img-div img{
        width: 100%;
        height: 400px;
    }
}
